.unlinkify {
    color: unset;
    text-decoration: none;
}

.font-weight--normal {font-weight: normal;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.d--block {display: block;}