html {
  scroll-snap-type: y proximity;

  body {
    scroll-snap-align: start;
  }
}

* {
  transition: all 0.3s ease;
}

body {
  width: 100vw;
  height: 100vh;
  line-height: initial;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

small {
  font-size: 70%;
}

main {
  height: 500vh;
}
