.btn {
    display: block;
    padding: 0.6rem 1rem;
    background-color: #00ffcc;
    border-radius: 6px;
    text-decoration: none;
    color: #001a3b;
    font-weight: 600;
    font-size: 1.2rem;
    white-space: nowrap;
}